
*{
	padding: 0;
	margin: 0;
	list-style-type: none;
	


}
/*#contain{
	width:expression(document.body.clientWidth <= 1226? "1226px": "auto"); 
    min-width:1226px;
    width: 100%;

}*/
body{
	
	/*width:expression(document.body.clientWidth <= 1000? "1000px": "auto"); 
    min-width:1226px;*/
}
a{
	text-decoration: none;
}
#header{

	height: 40px;
    color: #b0b0b0;
   background: #333;
    
}

#header .header-top{
	width: 1226px;
	height: 40px;
	margin:  0 auto;
   background: #333;
	
}
#header .header-top .top-nav{
	width: 575px;
	height: 40px;
	float: left;
	line-height: 40px;
	overflow: hidden;

}
#header .header-top .top-nav a{
	font-size: 12px;
	text-decoration: none;
	color: #b0b0b0;
	height: 14px;
	line-height: 14px;
	text-align: center;
}
#header .header-top .top-nav a:hover{
	color: #fff;
}
#header .header-top .top-nav span{

	color: #424242;
}
#header .header-top .top-shoppingcar{
	width: 120px;
	height: 40px;
	margin-left:12px;
	float: right;
	line-height: 40px;
	/*position: relative;*/
}
#header .header-top .top-shoppingcar .car{
	position: absolute;
	z-index: 32px;
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	margin-left: 0px;
	background: #424242;
	width: 120px;
	color: #fff;
	text-align: center;
	background: url(../images/4213.png)no-repeat -2px;
	

}
#header .header-top .top-shoppingcar .car:hover
{   background:#fff url(../images/14.png)no-repeat -18px;
	color: red;
	box-shadow: 0 2px 2px #eee;

}
#header .header-top .top-shoppingcar .car .erji{
	display: none;
}
#header .header-top .top-shoppingcar .car:hover .erji{
   height: 100px;
   width: 320px;
    background: #fff;
   position: absolute;
   box-shadow: 0 2px 2px #eee;
   right: 0;
   color: #333;
   display: block;
 z-index: 30000;

}

#header .header-top .top-nav-right
{    
	height: 40px;
	line-height: 40px;
	float: right;
   
}
#header .header-top .top-nav-right a{
	color: #b0b0b0;
	font-size: 14px;

}
#header .header-top .top-nav-right a:hover{
	color: #fff;
}
 
 #header1{
 	height: 100px;
 	position: relative;
 }
 #header1 .header1-1{
 	height: 100px;
 	width: 1226px;
 	margin:  0 auto;

 	position: relative;
 }
  #header1 .header1-1 .logo{
  	float: left;
  	width: 62px;
  	margin-top: 22px;

  }
    #header1 .header1-1 .ul1{
    	float: left;
    	width: 850px;	
    	height: 100px;
      position: relative;
    }
  
   #header1 .header1-1 .ul1>ul>li>.daohanglan{
   
    height: 100px;
    background: blue;
    position: absolute;
    left: -162px;
    top: 100px;
   }
    #header1 .header1-1 .ul1>ul>li>.daohanglan{
     width: 1226px;
  height: 0px;
  position: absolute;
  top: 100px;
  left: -61px;
  background: #fff;
  box-shadow: 0 2px 1px #e0e0e0;
  border-top: 1px solid #333;
  transition: all 0.3s linear 0s ;
  -webkit-transition: all 0.3s linear 0s ;
  -moz-transition: all 0.3s linear 0s ;
  -ms-transition: all 0.3s linear 0s ;
  -o-transition: all 0.3s linear 0s;
  overflow: hidden;

    }
    #header1 .header1-1 .ul1>ul>li>.daohanglan>a{
      width:100px;
     height: 100px;
     display: block;
      background: #fff;
     float: left;
    padding: 20px 54px 20px 50px;
    }
    #header1 .header1-1 .ul1>ul>li>.daohanglan>a>span{
      border: 1px solid #fff;
       position: absolute;
     top: 0;
     /*width: 50px;*/
     color:white;
     line-height: 20px;
      background: red;
      text-align: center;
      margin-left: 40px;
    }
    #header1 .header1-1 .ul1>ul>li>.daohanglan>a>img{
      width: 140px;
  height: 100px;
}
    
    #header1 .header1-1 .ul1>ul>li>.daohanglan>a>p{
      
    margin-top:20px;
  text-align: center;
  font-size: 16px;
  color: blue;
    }
#header1 .header1-1 .ul1>ul>li:hover .daohanglan{
  height: 200px;
}










    #header1 .header1-1 .ul1>ul{
    	float: left;
    	position: relative;
    	width: 820px;
    	height: 88px;
    	padding: 12px 0 0 30px;
    	list-style: none;
    	z-index: 3;
    	display: block;
    }
      
    #header1 .header1-1 .ul1>ul>.one{
    	/*position: relative;*/
    	float: left;
    	margin-right: 15px;
    }
     #header1 .header1-1 .ul1>ul>.one:hover .list{
      display: block;
     }
        #header1 .header1-1 .ul1>ul>.one>.list{
        	position: absolute;
        	width: 234px;
        	height: 460px;
        	background: white;
        	left: -62px;
        	top: 100px;
          display: none;
          border: 1px solid orange;
        }
        #header1 .header1-1 .ul1>ul>.one>.list>ul{
        	width: 234px;
        	height: 420px;
        	padding: 20px 0;
        	position: relative;
        }

      #header1 .header1-1 .ul1>ul>.one>.list>ul>li{
          	width: 234px;
          	height: 42px;
          	color: #333;

          }
         #header1 .header1-1 .ul1>ul>.one>.list>ul>li:hover{
         	background: #ff6700;
         }
         #header1 .header1-1 .ul1>ul>.one>.list>ul>li>a{
         	display: block;
         	width: 204px;
         	height: 42px;
         	margin-left: 30px;
         	font-size: 16px;
         	line-height: 42px;
          color: #333;
         }
         #header1 .header1-1 .ul1>ul>.one>.list>ul>li>a:hover{
          color: #fff;
         }
         #header1 .header1-1 .ul1>ul>.one>.list>ul>li>a>i{
         	position: absolute;
	        right: 20px;
	        font-size: 20px;
	        line-height: 42px;
         }
         #header1 .header1-1 .ul1>ul>.one>.list>ul>li>.erji{
         	width: 900px;
         	height: 480px;
         	position: absolute;
         	left: 234px;
         	top: 0;
         	z-index: 30;
         	display: none;
         	box-shadow: 1px 2px 2px #e0e0e0;
         }
          #header1 .header1-1 .ul1>ul>.one>.list>ul>li:hover .erji{
          	display: block;
          }
           #header1 .header1-1 .ul1>ul>.one>.list>ul>li>.erji ul{
           	height:460px;
	        width: 300px;
	        float: left;
	        background: #fff;
           }
           #header1 .header1-1 .ul1>ul>.one>.list>ul>li>.erji ul li{
           	height:80px;
	        width: 300px;
	        line-height: 80px;
	        text-align:center;
           }
           #header1 .header1-1 .ul1>ul>.one>.list>ul>li>.erji ul li p{
           	height: 8px;
	        line-height:80px;
	        text-align: center;
	        font-size: 14px;
	        float: left;
	      margin-left: 40px;
           }
           #header1 .header1-1 .ul1>ul>.one>.list>ul>li>.erji ul li span{
           	font-size: 14px;
           	border: 1px solid red;
           	padding: 5px 10px ;
           	color: orange;
           }
           #header1 .header1-1 .ul1>ul>.one>.list>ul>li>.erji ul li img{
           	width: 100px;
           	height: 60px;
           	margin-bottom: 10px;
           	float: left;
           	margin-top: 10px;
           	margin-left: 20px;
           }


     #header1 .header1-1 .ul1>ul>li>a{
     	display: block;
     
     	text-align: right;
     	color: #333;
     	text-decoration: none;
     }#header1 .header1-1 .ul1>ul>li>a:hover{
      color: #ff6700;
     }
         #header1 .header1-1 .ul1>ul>li{
         	float: left;
         	font-size: 16px;
         	/*height: 88px;*/
         	line-height: 80px;
         }
          #header1 .header1-1 .ul1>ul>li{
          	padding: 0px 10px 10px ;
          }


  #header1 .header1-1  .right{
	width: 296px;
	height: 50px;
	float: right;
	margin-top: 25px;
}
#header1 .header1-1  .right form{
	height: 50px;
	width: 296px;
	position: relative;
}


#header1 .header1-1 .right form>span{
	position: absolute;
	z-index: 1000;
	top: 15px;
	font-size: 12px;
	background: rgba(0,0,0,0.2);
}
#header1 .header1-1 .right form>.ee{
	right:60px;
}
#header1 .header1-1 .right form>.e{
	right: 130px;
}
#header1 .header1-1  .right form>#daohang{
	width: 243px;
	position: absolute;
	left: 0;
	top: 50px;
	height: 300px;
	z-index: 200;
	border:1px solid #e0e0e0;
	display: none;
}
#header1 .header1-1  .right form>#daohang>ul{
	display: inline-block;
	background: #fff;
}



#header1 .header1-1  .right form>#daohang>ul>li{
	height: 30px;
    color: #333;
    line-height: 30px;
    font-size: 12px;
    width: 233px;
    padding-left: 10px;

}
#header1 .header1-1  .right form>#daohang>ul>li:hover{
	background: #fafafa;
}
#header1 .header1-1  .right form>#daohang>ul>li>span{
	float: right;
	color: #bbbbbb;
	padding-right: 10px;
	font-size: 12px;
}




#header1 .header1-1  .right form .yi{
	height: 48px;
	padding:0 10px;
	border: 1px solid #e0e0e0;
	font-size: 14px;
	line-height: 48px;
	outline: 0;
	position: absolute;
	top: 0;
	right: 51px;
	z-index: 1;
	width: 223px;


}
#header1 .header1-1  .right form .er{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	width: 52px;
	height: 50px;
	border: 1px solid #e0e0e0;
	line-height: 24px;
	background: #fff;
	color: #616161;
	font-size: 0;
    color: #fff;
	background: url(../images/gouwuche.png); 
	background-repeat: no-repeat;
	background-position: 15px -50px;
}
#header1 .header1-1 .right form .er:hover{
	
	background:pink url(../images/search2.png)no-repeat ;
}

#nav{
  height: 40px;
  background: #f5f5f5;
  color: #616161;
}
#nav .nav-cont{
  width: 1226px;
  height: 40px;
  margin: 0 auto;
  
}
#nav .nav-cont>a{
  color: #757575;
  font-size: 12px;
  line-height: 40px;

}
#nav .nav-cont>span{
  color: #b0b0b0;
  margin: 0 0.2em;
}


#wrap{
  background: #fff;

}
#wrap .cont{
  width: 1226px;
  margin: 0 auto;
  position: relative;
  height: 600px;
  border-bottom: 1px solid #333;

}

#wrap .cont .small{
  position: relative;
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  left: 50px;
  top: 50px;

}
#wrap .cont .small img{
  width: 100%;
  height: 100%;
}
#wrap .cont .small #move{
  width: 160px;
  height: 160px;
  border: 1px solid yellow;

  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

#wrap .cont .big{
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  position: absolute;
  left: 460px;
  top: 50px;
  overflow: hidden;
  display: none;
  z-index: 100;
}
#wrap .cont .big img{
  position: absolute;

}

#wrap .cont  #dian{
  width: 360px;
  height: 100px;
  border: 1px solid #ccc;
  position: absolute;
  top: 460px;
  left: 50px;
}
#wrap .cont  #dian ul{
  width: 400px;
  height: 100px;
}
#wrap .cont  #dian ul li{
  float: left;
  padding-right: 1px;
  width: 100px;
  height: 100px;
  background: #808080;
}
#wrap .cont  #dian ul li img{
  width: 99px;
  height: 100px;
}
#wrap .cont .cont-right{
  width: 550px;
  height: 560px;

  position: absolute;
  right: 10px;
  top: 50px;
}
#wrap .cont .cont-right>h1{
  text-align: center;
}
#wrap .cont .cont-right p{
  margin-top: 10px;
  font-size: 14px;
  color: #eee;
  text-align: center;
}
#wrap .cont .cont-right .conta{
  width: 100%;
  height: 57px;

}
#wrap .cont .cont-right .conta .contb{
  padding: 20px 20px;
}
#wrap .cont .cont-right .conta .contb>span{
  font-size: 14px;
  height: 17px;
  line-height: 17px;

}
#wrap .cont .cont-right .conta .contb>.yi{
  color: #ff6700;
}
#wrap .cont .cont-right .conta .contb>.er{
  float: right;
  font-size: 30px;
 
}
#wrap .cont .cont-right .conta  .contc{
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin-top: 10px;
  font-size: 30px;
  color: #ff6700;
  line-height: 70px;
  text-align: center;
}
#wrap .cont .cont-right .xiangqing{
  height: 250px;
  width: 100%;
  /*border-bottom: 1px solid #333;*/
}
#wrap .cont .cont-right .xiangqing>p{
  font-size: 12px;
  color: #333;
}

#wrap .cont .cont-right .jiaru{
  margin-top: 10px;
  height: 60px;
  width: 100%;
}
#wrap .cont .cont-right .jiaru>.gouwuche{
  height: 50px;
  width: 200px;
  background: orange;
  font-size: 20px;
  color: #fff;
  padding: 5px;
  text-align: center;
  line-height: 60px;
  margin-left: 20px;
  float: left;
}
#wrap .cont .cont-right .jiaru>.xihuan{
  height: 50px;
  padding: 5px;
  width: 200px;
  background:gray;
  color:#fff;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  margin-right: 20px;
  float: right;
}
.img2{
  height: 550px;
}
.img2 .img{
  width: 1226px;
  height: 5500px;
  margin: 0 auto;
}
.img2 .img img{
  width: 600px;
  float: left;
  height: 500px;
  margin-right: 10px;
}
#sixtheen{
  height: 272px;
  margin-top: 50px;

}
#sixtheen .sixtheen-one{
  width: 1226px;
  height: 272px;
  margin: 0 auto;

  
}
#sixtheen .sixtheen-one .shang{
  width: 1226px;
  height: 25px;

  
  padding:27px 0; 
  

}
#sixtheen .sixtheen-one .shang ul{
  width: 1226px;
  height: 25px;

}
#sixtheen .sixtheen-one .shang ul li{
  float: left;
  width: 19.8%;
  height: 25px;
  font-size: 16px;
  text-align: center;
  border-right: 1px solid #b0b0b0;


}
#sixtheen .sixtheen-one .shang ul li a:hover{
  color: orange;
}
#sixtheen .sixtheen-one .shang ul .l1{
  border-right: none;
}

#sixtheen .sixtheen-one .xia{
  width: 1226px;
  height: 112px;
  border-top: 1px solid #b0b0b0;
  
  padding: 40px 0;
}
#sixtheen .sixtheen-one .xia ul{
  float: left;
  width: 160px;
  height: 112px;
}
#sixtheen .sixtheen-one .xia ul .s{
  width: 160px;
  padding-bottom: 26px;
  font-size: 16px;

}
#sixtheen .sixtheen-one .xia ul li{
  font-size: 12px;
  
}

#sixtheen .sixtheen-one .xia ul li a{
  color: #333;
}
#sixtheen .sixtheen-one .xia ul li a:hover{
  color: orange;
}
#sixtheen .sixtheen-one .xia ul .as{
  width: 252px;
  height: 112px;

}
#sixtheen .sixtheen-one .xia ul .as .e{
  font-size: 22px;
  color: #ff6700;
  margin-bottom: 5px;
  line-height: 22px;
  height: 22px;
  display: block;
  width: 251px;
  color: #ff6699;
}
#sixtheen .sixtheen-one .xia ul .as p{
  line-height: 20px;
  font-size: 12px;
  color: #b0b0b0;
  margin-bottom: 10px;
}
#sixtheen .sixtheen-one .xia ul .as a{
  line-height: 20px;
  font-size: 16px;
  height: 30px;
  color:#ff6700;
  border: 1px solid #ff6700;




}
#sixtheen .sixtheen-one .xia ul .as a:hover{
  background: #ff6700;
  color: #fff;

}

#foot{
  height: 166px;
}
#foot .foot-one{ 
  width: 1226px;
  height: 106px;
  margin: 0 auto;
  background: #f5f5f5;
  padding: 30px 0;

}
#foot .foot-one img{
  float: left;
  width: 57px;
  height: 57px;
}
#foot .foot-one ul{
  float: left;
  margin-left: 6px;
}
#foot .foot-one ul li{
  float: left;
  color: #b0b0b0;
}
#foot .foot-one ul li a{
  color: #333;
  font-size: 12px;
}
#foot .foot-one ul li a:hover{
  color: red;
}
#foot .foot-one p
{    color: #b0b0b0;
  display: block;
  float: left;
  margin-left: 6px;
  font-size: 14px;
}
#foot .foot-one p a{
  color: #333;
  font-size: 14px;
}
#foot .foot-one p a:hover{
  color: red;
}
#foot .foot-one .right{
  float: right;
  height: 28px;
  margin:4px 0 0;
  font-size: 12px;
}
#foot .foot-one .right a{
  margin-left: 5px;
  color: #b0b0b0;
}
#foot .foot-one .right a:hover{
  color: #fff;
}
#foot .foot-one .right a img{
  height: 28px;
  margin-left: 7px;
  width: auto;
}